/*Setting the map height explicitly to define the size of the div element that contains the map. */
    #map {
        min-height: 250px;
        width: 700px;
    }

      #listrow {
          padding: 1% 2% 0 0;
      }

      #listofplaces {
          list-style-type: none;
      }
      
      .hero {
          background-image: url('Photos/HomepageImage.jpg');
      }

      .content {
          margin-top: 25px;
      }

      #headlines {
        text-align: center;
        font-style: italic;
        font-size: x-large;
      }

      #abouttext {
        padding: 0 15% 0 15%;
        font-size: large;
      }

      .fa-trash-alt {
        color: black;
        float:right;
        }
        
    .list-group-item {
        color: gray;
        background-color: white;
        border-color: darkgray;
        }
        
        .destinationList {
        padding-left: 0px;
        margin-bottom: 0.3rem;
        }
        
        
        .clearbuttonArea {
            padding:  1% 0 2% 0;
        }


        @media only screen and (max-width: 414px) {
            #map {
              margin: 5%;
            }
        }

        @media only screen and (min-width: 414px) and (orientation: landscape) and (max-width: 768px) {
            #map {
                margin: 2%;
            }
        }

        @media only screen and (min-width: 768px) {
            .hero {
                min-height: 375px;
            }
        }


      /* Makes the sample page fill the window. 
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }*/